<!DOCTYPE html>
<html ng-app="NorrisApp">
<head>
  <title>Chuck Norris</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="NorrisCtrl">
<div class="container">
  <section class="row">
    <div class="col-xs-12">
      <h1 class="text-center">How Many Jokes You Want, Son?!</h1>
      <div class="form-group">
        <input type="number" class="form-control" ng-model="jokeCount">
      </div>
        <button type="button" class="btn btn-danger" ng-click="getJokes()">Get Jokes</button>
    </div>
  </section>
  <section class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="well" ng-repeat="joke in jokes track by $index">
        <h4>{{joke.joke}}</h4>
        <img ng-src="{{joke.imgUrl}}">
      </div>
    </div>
    
  </section>
</div>
</body>
</html>